

.carousel-item {
    height: 100vh;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 1px black;
  }

  .section{
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  #skills{
    height : 100vh;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  #about{
    height : 100vh;
    text-align: left;
    padding-top: 60px;
    width: 96vw;
  }
  
  #goodies{
    height : 100vh;
    text-align: left;
    padding-top: 60px;
    width: 96vw;
  }
  
  #contact{
    height : 100vh;
    text-align: left;
    padding-top: 100px;
    width: 96vw;
  }

  #header-img{
    height: 40px;
    max-width: 40px;
  }
   /* ^ still need to wrk on this */


   